body {
    font-family: Times, Helvetica, sans-serif;
    color: red;
    background-color: yellow;
}
h1 {
    margin-right: 575px;
    padding-left: 12px;
}

img {
    width: 800px;
    height: auto;
}

p,
ul,
ol {
    font-size: 20px;
}