body {
    font-family: Times, Helvetica, sans-serif;
    color: aqua;
    background-color: rgb(31, 152, 73);
}
h1 {
    margin-right: 575px;
    padding-left: 12px;
}

img {
    width: 600px;
    height: 400px;
}

p,
ul,
ol {
    font-size: 20px;
}